body { width: 1000px; 
       top: 50px;
       margin: 0px auto;
       position: relative; }

#header, .content, #footer, #navbar { border: 1px navy solid; 
				      border-radius: 3px; }

#navbar, #footer { text-align: center;
		   clear: both; 
		   background-color: #EFF1F2;  }

#navbar { padding: 15px; }

#header { background-color: navy;
	  background-image: url("static/banner.jpg"); }

#header h1 { font-size: 30px; 
	     letter-spacing: 0.15em;
	     text-transform: uppercase;
	     font-family: sans-serif, georgia, serif;
	     color: white;
	     text-shadow: 1px 1px 0px #ffe44d;
	     text-align: center;
	     font-weight: bold; 
	     margin-left: 150px; }

#header #no_margin { margin-left: 0px; }

.content h4 { text-transform: uppercase; 
     	      font-family: sans-serif, georgia, serif;
              letter-spacing: 0.05em;
              text-shadow: 0px 0px black;
     	      text-shadow: 1px 1px 0px rgba(0, 0, 128, 0.5); }

li { display: inline;
     padding: 70px; }

a { color: navy; 
    padding: 7px;
    border-radius: 5px;  }

a:hover { border: 1px #e6c300 solid; }

.button { text-decoration: none;
	  background-color: navy; 
	  color: white; }

.button:hover { border: 1.5px #e6c300 solid; }

legend { border: 3px white solid; 
	 border-radius: 10px;
	 padding: 10px 20px;
	 background-color: navy; 
	 color: white;
	 text-transform: uppercase;
	 text-shadow: 1px 1px 0px black;
	 font-family: sans-serif, georgia, serif; }

#header h1 a {  font-size: 12pt; 
		text-shadow: 0px 0px; 
		letter-spacing: normal; 
		text-transform: none; 
		font-family: normal; 
		font-weight: normal; 
		border: 1.5px white solid;
		float: right; 
		margin-right: 100px; }

#header h1 a:hover { border: 1.5px gold solid; }

.email:hover { border: 0px; }

.five_navbar { padding: 30px; }

.diff_listyle { display: list-item; 
		padding: 10px; }

.content ul { list-style-image: url("static/crown_25x15.png"); }