#header, fieldset, fieldset div, .other, #navbar { border: 1px navy solid; 
						   border-radius: 3px; }

#header { text-align: center;
	  clear: both;
	  text-transform: uppercase;
	  margin-bottom: 30px; }

fieldset { padding-bottom: 30px; }

#popular { border: 1.5px navy solid; 
	   padding-left: 50px;  
	   margin-bottom: 30px; 
	   margin-top: 20px;
	   background-color: #F5F5DC;
	   background-image: url("../static/banner2.png"); } 

#popular div, .other { width: 150px; 
	       	       height: 100px;
	       	       float: left;
	       	       text-align: center;
		       text-transform: uppercase;
		       font-family: sans-serif, georgia, serif;
	       	       margin: 10px; 
		       background-color: #EFF3F7; }

#a-l, #m-z { padding-left: 50px; 
	     border: 2px purple solid; } 

#a-l { margin-bottom: 30px; }

#m-z { margin-bottom: 40px; }

.back_to_top {  position: absolute; 
		margin-left: 750px; 
		margin-top: 505px; 
		border: 2px white solid;
		border-radius: 7px; }

#navbar { padding: 0px; }

.other { border-right: 1.5px navy solid;
         border-bottom: 1.5px navy solid; }

.country_link:hover { border: 0px; 
		      color: gold; }

p { padding: 10px; }

img { width: 400px; 
      height: 200px; }	